.Toolbar {
  width: 100%;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #703b09;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
}

.DrawerToggleContainer {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.Logo {
  height: 80%;
  flex: 1;
  display: flex;
  justify-content: center;
}

.NavigationContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.NavigationContainer nav {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

@media (max-width: 699px) {
  .NavigationContainer nav {
    display: none;
  }

  .Logo {
    flex: 4;
  }
}
