.NavigationItems {
  height: 100%;
  margin: 8px 0;
  padding: 16px 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-top: 1px solid #703b09;
}

@media (min-width: 500px) {
  .NavigationItems {
    flex-flow: row;
    margin: 0;
    padding: 0;
    border-top: transparent;
  }
}
